h1, h2, h3, h4, h5, h6 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: #03a9f4;
}

p {
  font-size: 1.125rem;
  line-height: 1.618;
}

.signup-btn {
  margin: 0.4rem;
}

/* Links */
a {
  color: #ff3d00;  
}

li.active {
  background-color: #03a9f4 !important;
  color: #ffffff !important;
}

.btn:hover.light-blue, .btn-large:hover.light-blue {
  background-color: #4fc3f7 !important;
}

.btn:hover.orange, .btn-large:hover.orange {
  background-color: #ffb74d !important;
}

/* Main navigation bar */
.brand-logo img {
  height: 4rem;
  width: 22rem;
  -webkit-transition: filter 0.3s; /* Safari */
   transition: filter 0.3s;
}

.brand-logo img:hover {
  -webkit-filter: brightness(80%); /* Safari 6.0 - 9.0 */
  filter: brightness(80%);
  -webkit-transition: filter 0.3s; /* Safari */
  transition: filter 0.3s;
  cursor: pointer;
}

.tabs li a {
  color: #ffffff !important;
}

.tabs .indicator {
  background-color: #ffffff;
}

/* Header */
header {
  height: 50vh;
  padding: 4rem;
  text-align: center;
  background-color: #03a9f4;
  color: #ffffff;
}

header h1 {
  color: #ffffff;
}

/* Footer */
.contact-icon {
  margin: 10px 0;
  color: #ffffff;
  font-size: 3rem;
  display: block;
}

section, footer {
  margin: 0;
}

.page-footer {
  margin: 0 !important;
}

.footer-section {
  margin: 2rem 0;
}

.page-footer a:hover {
  text-decoration: underline;
}

.social-media-btns > li {
  display: inline;
}

.social-icon {
  font-size: 2rem;
  padding: 1rem;
  color: #ffffff;
  -webkit-transition: color 0.3s; /* Safari */
   transition: color 0.3s;
}

.social-icon:hover {
  color: #e0e0e0;
  -webkit-transition: color 0.3s; /* Safari */
  transition: color 0.3s;
}

