section {
  padding: 6rem 0;
}

.feature-text {
  padding: 0 4rem;
}

.feature-text > p:first-of-type {
  font-weight: bold;
  font-style: italic;
  font-size: 1.6rem;
  line-height: 1.2;
}

.feature img {
  width: 100%;
  height: auto;
}