/* GENERAL TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #03a9f4;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  line-height: 1.618;
}
.backdrop {
      background-color: #03a9f4;
    }

/* LINKS */
a {
  color: #ff3d00;
}
li.active {
  background-color: #03a9f4 !important;
  color: #ffffff !important;
}
ul {
  padding: 0;
}

/* MAIN NAVIGATION */
.brand-logo img {
  height: 42px;
  width: auto;
  margin: 8px 0;
  transition: filter 0.3s;
  -webkit-transition: filter 0.3s; /* Safari */
}
.brand-logo img:hover {
  filter: brightness(80%);
  transition: filter 0.3s;
  cursor: pointer;
  -webkit-filter: brightness(80%); /* Safari 6.0 - 9.0 */
  -webkit-transition: filter 0.3s; /* Safari */
}

/* TABLE OF CONTENTS NAVIGATION */
.table-of-contents {
  margin-top: 4rem;
}
.table-of-contents a.active {
  border-color: #ff9800;
  font-weight: bold;
}
.table-of-contents a:hover {
  border-color: #ff9800;
}

/* GENERAL HEADER */
header {
  height: 50vh;
  padding: 4rem 10%;
  text-align: center;
  background-color: #03a9f4;
  background-image: url("../img/banner-bg.jpg");
  background-position: center;
  min-height: 400px;
  color: #ffffff;
}
header p {
  max-width: 400px;
  margin: 0 auto;
}
header h1 {
  font-size: 2.6rem;
  color: #ffffff;
}

/* GENERAL LAYOUT */
section {
  padding: 4rem;
}
.main-left-col {
  margin: 0;
  padding: 0 !important;
}

/* BUTTONS */
.btn:hover.light-blue, .btn-large:hover.light-blue {
  background-color: #4fc3f7 !important;
}
.btn:hover.orange, .btn-large:hover.orange {
  background-color: #ffb74d !important;
}

/* GENERAL FOOTER */
.contact-icon {
  margin: 10px 0;
  color: #ffffff;
  font-size: 3rem;
  display: block;
}
section, footer {
  margin: 0;
}
.page-footer {
  margin: 0 !important;
}
.footer-section {
  margin: 2rem 0;
}
.page-footer a:hover {
  text-decoration: underline;
}
.social-media-btns > li {
  display: inline;
}
.social-icon {
  font-size: 2rem;
  padding: 1rem;
  color: #ffffff;
  transition: color 0.3s;
  -webkit-transition: color 0.3s; /* Safari */
}
.social-icon:hover {
  color: #e0e0e0;
  transition: color 0.3s;
  -webkit-transition: color 0.3s; /* Safari */
}

/* RESPONSIVENESS */
@media only screen and (min-width: 601px) {
  .brand-logo img {
    width: auto;
    margin: 12px 0;
  }
  header h1 {
    font-size: 4.2rem;
  }
}
